#Project Setup
general:
  unsafeMode: false
  productiveBranch: master
  collectTelemetryData: true
  defaultNode: ""
  automaticVersioning: true
  runStageInPod: true
  maven:
    m2Path: s4hana_pipeline/maven_local_repo
  mandatoryStages:
    - "initS4sdkPipeline"
    - "build"
    - "backendIntegrationTests"
    - "staticCodeChecks"
    - "unitTests"
    - "npmAudit"
    - "lint"
    - "frontendUnitTests"
    - "frontendIntegrationTests"
    - "s4SdkQualityChecks"
    - "artifactDeployment"
    - "productionDeployment"

#Steps Specific Configuration
steps:
  piperStageWrapper:
    globalExtensionsDirectory: 's4hana_pipeline/extensions/'
    stageLocking: false
    stashContent: []

  artifactSetVersion:
    gitCredentialsId: ""
    commitVersion: false
    buildTool: "maven"
    timestampTemplate: "%Y-%m-%dT%H%M%S%Z"

  mavenExecute:
    dockerImage: maven:3.6.3-jdk-8-slim
    dockerOptions: ""

  executeNpm:
    dockerImage: ppiper/node-browsers:v3
    sapNpmRegistry: "https://npm.sap.com"

  executeGradle:
    dockerImage: gradle:6.0.0-jdk8

  checkFindbugs:
    includeFilterFile: s4hana_findbugs_include_filter.xml
    scanModules:
      - "application"

  createHdiContainer:
    dockerImage: ppiper/cf-cli:v2

  checkPmd:
    scanModules:
      - "application"

  checkJMeter:
    dockerImage: famiko/jmeter-base
    testPlan: ./performance-tests/*
    reportDirectory: /jmeter-report
    failThreshold: 100
    unstableThreshold: 90

  cloudFoundryDeploy:
    dockerImage: ppiper/cf-cli:v2
    keepOldInstance: true
    stashContent: []

  cloudFoundryCreateService:
    stashContent: []

  neoDeploy:
    dockerImage: ppiper/neo-cli:v2
    deployMode: "warParams"
    neoHome: "/sdk"

  mtaBuild:
    buildTarget: "CF"
    mtaBuildTool: "cloudMbt"
    #TODO Workarround to build containers map. Can be removed after init of containers map is fixed for go.
    classic:
      dockerImage: 'ppiper/mta-archive-builder:v1'
    cloudMbt:
      dockerImage: 'devxci/mbtci:1.0.14'

  checkFrontendCodeCoverage:
    codeCoverageFrontend:
      unstable: 0
      failing: 0

  tmsUpload:
    namedUser: "CLOUD_SDK_PIPELINE"

  sonarExecuteScan:
    dockerImage: 'ppiper/node-browsers:v3'

#Stage Specific Configurations
stages:
  backendIntegrationTests:
    retry: 1
    forkCount: 1C

  checkmarxScan:
    filterPattern: "!**/*.log, !**/*.lock, !**/*.json, !**/*.html, !**/Cx*, !**/test/**, !s4hana_pipeline/**, !**/unit-tests/**, !**/integration-tests/**, !**/frontend-unit-tests/**, !**/e2e-tests/**, !**/performance-tests/**, **/*.js, **/*.java, **/*.ts"
    fullScansScheduled: true
    generatePdfReport: true
    incremental: true
    preset: "36"
    vulnerabilityThresholdLow: 99999
    vulnerabilityThresholdMedium: 0

  s4SdkQualityChecks:
    disabledChecks: []
