on: push
name: Test
jobs:
  build:
    runs-on: ubuntu-18.04
    container:
      image: gradle:jdk8
    steps:
    - uses: actions/checkout@master
    - name: Test
      run: gradle check jacocoTestCoverageVerification
    - uses: actions/upload-artifact@master
      with:
        name: Build results
        path: build
